#!/bin/env ruby
#96d9fb10f3bac630031f984dd0c7d7ba3ba19558
user : keenes@yahoo.fr
owner : keenes@github.io
api : "http://keenes.github.io/planing/event-handler"
api access token : '96d9fb10f3bac630031f984dd0c7d7ba3ba19558'
language : ruby&rail
site adr : "http://keenes.github.io/planing"


